* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d9d9d9;
}
#process-bar {
  position: relative;
  width: 1440px;
  height: 16px;
  background-color: #ffffff;
}
#process-bar .color-bar {
  position: absolute;
  width: calc(288px * 5);
  height: 16px;
  background: linear-gradient(90deg, #9faeff 0%, #7386ff 100%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
#game-container {
  width: 1440px;
  height: 100%;
  position: relative;
}
#webcam-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#bubble-container {
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.bubble {
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  background-image: url(./image/활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#score-container {
  position: absolute;
  top: 42.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 696px;
  height: 85px;
  margin-top: 80px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 24px;
}
#score-container h1 {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
  color: #5e6484;
}
#score-container .score-box {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
#score-container .bubble-score {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(./image/비활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#score-container .active {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(./image/활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#score-container .current-box {
  width: 78px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f7ec;
  border-radius: 16px;
}
#score-container .current-box p {
  font-size: 14px;
  font-weight: 600;
  color: #3fb650;
}
