* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 210, 255, 0.3);
  z-index: 5;
  display: none;
  pointer-events: none;
}

#start-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3f7;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.timebox h1 {
  font-size: 25px;
  font-weight: 500;
  color: #627bff;
}

.hero-img {
  width: 520px;
  height: 344px;
  margin: 15px 0px;
}

#start-modal .textbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

#start-modal .textbox p {
  font-size: 32px;
  font-weight: 400;
  color: #7b81a1;
}

.modalBT {
  width: 276px;
  height: 67px;
  color: #8174e5;
  background-color: #fff;
  border: 2px solid #9cabff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBT:hover {
  background-color: #9cabff;
  color: #fff;
  cursor: pointer;
}

.modalBT p {
  font-size: 28px;
  font-weight: 600;
}

.textbox h2 {
  font-size: 40px;
  font-weight: 600;
  color: #5e6484;
}

#process-bar {
  position: absolute;
  width: 0;
  height: 16px;
  background-color: #ffffff;
}

#process-bar .color-bar {
  position: absolute;
  width: 0;
  height: 16px;
  background: linear-gradient(90deg, #9faeff 0%, #7386ff 100%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#game-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#webcam-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#bubble-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#silhouette-container {
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 690px;
  z-index: 1;
  background-image: url(./image/실루엣1.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.bubble {
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  background-image: url(./image/활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score-container {
  position: absolute;
  top: 42.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 696px;
  height: 85px;
  margin-top: 80px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 24px;
}

#score-container h1 {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
  color: #5e6484;
}

#score-container .score-box {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#score-container .bubble-score {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(./image/비활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#score-container .active {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(./image/활성화\ 버블.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#score-container .current-box {
  width: 78px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f7ec;
  border-radius: 16px;
}

#score-container .current-box p {
  font-size: 14px;
  font-weight: 600;
  color: #3fb650;
}

#tipbox {
  position: absolute;
  bottom: 5vh;
  right: 3vw;
  z-index: 1;
  width: 318px;
  height: 424px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  opacity: 1;
}

#tipbox img {
  width: 256px;
  height: 213px;
}

#tipbox .textbox {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#tipbox .textbox .tiptitle {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.circle {
  width: 18px;
  height: 18px;
  background-color: #ffc667;
  border-radius: 18px;
}

#tipbox .textbox .tiptitle h1 {
  font-size: 24px;
  font-weight: 600;
  color: #5e6484;
}

#tipbox .textbox p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #7b81a1;
}

#tipBT {
  z-index: 3;
  width: 210px;
  height: 65px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 3vw;
  bottom: 5vh;
  border-radius: 65px;
  opacity: 0;
  cursor: pointer;
}

#tipBT p {
  font-size: 24px;
  font-weight: 600;
  color: #5e6484;
}
