* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  background-color: #f2f3f7;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-template-rows: 100vh;
}

.sidebar {
  background-color: #fafafa;
  padding: 6.25rem 1.3125rem;
}

.sidebar h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #5e6484;
  padding-left: 0.9375rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.875rem;
  padding-top: 0.875rem;
}

.sidebar li {
  font-size: 1.125rem;
  font-weight: 500;
  color: #5e6484;
}

.sidebar li a {
  text-decoration: none;
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  color: #5e6484;
}

.button {
  color: #5e6484;
  border-radius: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4375rem 0.9375rem;
  width: 8.3125rem;
  height: 2.1875rem;
  cursor: pointer;
  position: relative;
}

.button:hover {
  color: #627bff;
}

.dot {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  opacity: 0;
  background-color: #627bff;
  position: absolute;
  top: 14.5px;
  right: 15px;
}

.button.active {
  color: #627bff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.button.active .dot {
  opacity: 1;
}

.contents {
  width: 1160px;
  height: 824px;
  margin: auto;
  gap: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .cambox {
  width: 39.625rem;
  height: 51.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.cam video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cambox h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #5e6484;
}

.cambox .cam {
  width: 39.625rem;
  height: 47.875rem;
  background-color: #5e6484;
  border-radius: 1.25rem;
}

.contents .lengthbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 31.125rem;
  height: 824px;
}

.contents .timebox {
  width: 31.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.timebox h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #5e6484;
  padding-top: 8px;
}

.timebox .timeline {
  width: 31.125rem;
  max-height: 209px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 29px 39px;
}

.timeline ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  overflow: hidden;
  max-height: 136px;
  overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.timeline ul .line {
  background-color: #d3d3d3;
}

.timeline ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timeline ul li h2 {
  font-size: 20px;
  font-weight: 500;
  color: #959595;
}

.timeline ul li p {
  font-size: 20px;
  font-weight: 600;
  color: #5e6484;
}

.alertbox {
  width: 31.125rem;
  height: 343px;
  display: flex;
}

.alertbox .alert {
  width: 498px;
  height: 343px;
  background-color: #fff;
  padding: 30px 27px;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.boxtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxtitle p {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
}

.chart {
  width: 443px;
  height: 195px;
}

.boxtitle h2 {
  font-size: 24px;
  font-weight: 600;
  color: #5e6484;
}

.stretchbox {
  background: linear-gradient(54deg, #7386ff 0%, #5260ff 100%);
  padding: 0px 34px;
  border-radius: 1.25rem;
  width: 31.125rem;
  height: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stretch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.stretch h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}

.stretch .bt {
  width: 148px;
  height: 42px;
  padding: 9px 0px;
  font-size: 20px;
  font-weight: 600;
  color: #5e6484;
  background-color: #fff;
  border-radius: 50px;
  border: none;
}

.stretch-img img {
  width: 144px;
  height: 138px;
}
