* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-template-rows: 100vh;
  transition: grid-template-columns 0.5s ease-in-out;
}

.trigger-zone {
  width: 11rem;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar {
  background-color: #fafafa;
  padding: 5vh 20%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.sidebar h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #5e6484;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8125rem;
  padding-top: 0.8125rem;
}

.sidebar li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #5e6484;
}

.contents {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 6.25rem 3.125rem;
  gap: 2rem;
  align-content: center;
  justify-content: space-between;
}

.contents .cambox {
  width: 39.625rem;
  height: 51.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cambox h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #5e6484;
}

.cambox .cam {
  width: 39.625rem;
  height: 47.875rem;
  background-color: #5e6484;
  border-radius: 1.25rem;
}

.contents .lengthbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 31.125rem;
  height: 51.5rem;
  justify-content: space-between;
}

.contents .timebox {
  width: 31.125rem;
  height: 24.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.timebox h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #5e6484;
  padding-top: 8px;
}

.timebox .timeline {
  width: 31.125rem;
  height: 21.0625rem;
  background-color: #5e6484;
  padding: 2rem;
  border-radius: 1.25rem;
}

.stretchbox {
  width: 31.125rem;
  height: 24.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
}

.stretchbox h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #5e6484;
  padding-top: 8px;
}

.stretchbox .stretch {
  width: 31.125rem;
  height: 21.0625rem;
  background-color: #5e6484;
  padding: 2rem;
  border-radius: 1.25rem;
}
